@using System.Configuration

@{
    ViewBag.Title = "Sobre...";
}

<div class="well">
    <h1 class="grey lighter smaller">
        <span class="green bigger-125">
            <i class="ace-icon fa fa-info-circle"></i>
            @ConfigurationManager.AppSettings["Web:NomeModulo"]
        </span>
    </h1>

    <hr />

    <h3 class="lighter smaller">
        @ConfigurationManager.AppSettings["Web:NomeCompletoModulo"]
        <br />
        Versão @ConfigurationManager.AppSettings["Web:VersaoModulo"]
    </h3>

    <div class="space"></div>

    <h4 class="lighter smaller">
        @*<span style="font-size: 12px">
            <br />
            @ConfigurationManager.AppSettings["SPF:VersaoCompleta"]
        </span>*@
        <span style="font-size: 12px">
            <br />
            <br />
            Copyright © @DateTime.UtcNow.Year.ToString(), SESMT Tecnólogico. Todos os direitos reservados.
            <br />
            <br />
            <br />
            <br />
            Esta cópia do CIS Web é licenciada para <b>CEMIG</b>.
            <br />
            <br />
            <br />
            <br />
            <b>Esta interface do CIS inclui:</b>
            <br />
            Croppie - Copyright © 2015 Foliotek Inc
            <br />
            reCAPTCHA 2.0 - © Google Inc. All rights reserved.
            <br />
            FontAwesome - Font Awesome by Dave Gandy
        </span>
    </h4>

    <hr />
    <div class="space"></div>

    <div class="center">
        <a href="javascript:history.back()" class="btn btn-grey">
            <i class="ace-icon fa fa-arrow-left"></i>
            Voltar
        </a>
    </div>
</div>

