@model GISModel.DTO.Incidente.VMNovaCodificacao

@{
    ViewBag.Title = "Pesquisa de Codificação";
}

<div id="formPesquisa">

    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Pesquisar Incidentes por Codificação
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("PesquisaCodificacao", "Incidente", null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnBegin = "OnBeginPesquisaCodificacao",
            OnSuccess = "OnSuccessPesquisaCodificacao",
            OnFailure = "OnFailurePesquisaCodificacao"
        }, new { @id = "formPesquisaCodificacao", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.TipoAcidente, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EnumDropDownListFor(model => model.TipoAcidente, "Selecione um centro ...", htmlAttributes: new { @class = "chosen-select form-control" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Atividade, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EnumDropDownListFor(model => model.Atividade, "Selecione um centro ...", htmlAttributes: new { @class = "chosen-select form-control" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKTipoAtividade, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKTipoAtividade, new SelectList(ViewBag.TiposAtividades, "UniqueKey", "NomeFantasia"), "Selecione um tipo de atividade ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKNatureza, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKNatureza, new SelectList(ViewBag.Naturezas, "UniqueKey", "NomeCompleto"), "Selecione a natureza ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.ConsequenciaLesao, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EnumDropDownListFor(model => model.ConsequenciaLesao, "Selecione uma consequëncia...", htmlAttributes: new { @class = "chosen-select form-control" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKFuncaoGRIDS, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKFuncaoGRIDS, new SelectList(ViewBag.Funcoes, "UniqueKey", "NomeCompleto"), "Selecione a função ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKEspecieAcidImpessoal, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKEspecieAcidImpessoal, new SelectList(ViewBag.Especies, "UniqueKey", "NomeCompleto"), "Selecione a espécie ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKTipoAcidPessoal, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKTipoAcidPessoal, new SelectList(ViewBag.TiposAcidentes, "UniqueKey", "NomeCompleto"), "Selecione o tipo ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKAgenteAcidente, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKAgenteAcidente, new SelectList(ViewBag.Agentes, "UniqueKey", "NomeCompleto"), "Selecione o agente ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKFonteLesao, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKFonteLesao, new SelectList(ViewBag.Fontes, "UniqueKey", "NomeCompleto"), "Selecione a fonte ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKFatorPessoalInseg, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKFatorPessoalInseg, new SelectList(ViewBag.Fatores, "UniqueKey", "NomeCompleto"), "Selecione o fator ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKAtoInseguro, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKAtoInseguro, new SelectList(ViewBag.Atos, "UniqueKey", "NomeCompleto"), "Selecione o ato ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off", @style = "width: 100%" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKCondAmbientalInseg, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKCondAmbientalInseg, new SelectList(ViewBag.Condicoes, "UniqueKey", "NomeCompleto"), "Selecione a condição ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKPrejMaterial, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKPrejMaterial, new SelectList(ViewBag.Prejuizos, "UniqueKey", "NomeCompleto"), "Selecione o prejuízo ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.Custo, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.Custo, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.DiasPerdidos, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.DiasPerdidos, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.DiasDebitados, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.DiasDebitados, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(model => model.DataObito, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.DataObito, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnPesquisar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Pesquisar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
            </div>
        </div>

    }
</div>

<div id="ResultadoPesquisa">
</div>


@section Stylesheets {
    <link href="~/Content/Ace/css/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="~/Content/Ace/css/chosen.css" rel="stylesheet" />

    <style type="text/css">
        textarea {
            resize: none;
        }
    </style>
}


@section Scripts {
    <script src="~/Scripts/Ace/bootstrap-timepicker.js"></script>

    @Scripts.Render("~/bundles/jQ_dataTable")

    <script src="~/Scripts/Ace/ace.widget-box.js"></script>
    <script src="~/Scripts/Ace/chosen.jquery.js"></script>

    <script src="~/Scripts/Ace/jQ/jquery.maskedinput.js"></script>

    <script src="~/Scripts/jQuery/inputmask.js"></script>
    <script src="~/Scripts/jQuery/jquery.inputmask.js"></script>

    <script src="~/Scripts/Custom/Incidente/PesquisaCodificacao.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {

            $('#DataObito').mask('99/99/9999');

        });
    </script>
}

@section Sliders {
    @{
        Html.RenderPartial("~/Views/Shared/_SlidersIncidente.cshtml");
    }
}