
@{
    ViewBag.Title = "Meus Grupos";
}

<div class="row divInbox" id="divPesquisaGoogleishResultadoCorporativo" data-qs="@ViewBag.QueryString">
    <div class="col-xs-12">

        <div class="widget-box widget-color-blue" style="border: 0px">

            <div class="widget-body" id="widgetBodyInbox">
                <div class="widget-main no-padding">

                    <h3 class="header smaller lighter blue" style="float: left; border: none; margin-top: 2px; margin-bottom: 0; padding-top: 0; padding-bottom: 0;">
                        Caixa de Entrada - Meus Grupos
                    </h3>

                    <input id="FuncaoInbox" type="hidden" style="display: none;" value="@ViewBag.FuncaoInbox" />
                    <input id="ObjRecemCriado" type="hidden" style="display: none;" value="@ViewBag.ObjRecemCriado" />

                    <ul class="nav nav-tabs" id="myTab" style="float: right;">
                        <li class="active">
                            <a data-toggle="tab" href="#result_incidente" onclick="AtualizarIncidentes();">
                                Incidente
                                @*<span class="badge badge-info">0</span>*@
                            </a>
                        </li>
                        <li>
                            <a data-toggle="tab" href="#result_incidente_veiculo" onclick="AtualizarIncidentesVeiculos();">
                                Incidente Veículo
                                @*<span class="badge badge-info">0</span>*@
                            </a>
                        </li>
                        @*<li>
                                <a data-toggle="tab" href="#result_q_incidente" onclick="AtualizarQuaseIncidentes();">
                                    Q. Incidente
                                </a>
                            </li>
                            <li>
                                <a data-toggle="tab" href="#result_q_incidente_veiculo" onclick="AtualizarQuaseIncidentesVeiculos();">
                                    Q. Incidente Veículo
                                </a>
                            </li>*@
                    </ul>



                    <div class="tabbable">

                        <div class="tab-content" style="float: left; width: 100%; margin-top: 0px; padding: 0; border-top: 1px solid #c5d0dc;">

                            <div id="result_incidente" class="tab-pane fade in active">
                            </div>

                            <div id="result_incidente_veiculo" class="tab-pane fade">
                            </div>

                            @*<div id="result_q_incidente" class="tab-pane fade">
                                </div>
                                <div id="result_q_incidente_veiculo" class="tab-pane fade">
                                </div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts {

    <script src="~/Scripts/Ace/bootstrap-timepicker.js"></script>
    @Scripts.Render("~/bundles/jQ_dataTable")
    <script src="~/Scripts/Ace/jQ/jquery.maskedinput.js"></script>

    <script src="~/Scripts/Ace/ace.widget-box.js"></script>
    <script src="~/Scripts/Ace/chosen.jquery.js"></script>

    @Scripts.Render("~/bundles/inbox/grupos_js")

    @Scripts.Render("~/bundles/ace_js_fileUpload")
}

@section Stylesheets {
    <link href="~/Content/Ace/css/chosen.css" rel="stylesheet" />
    @Styles.Render("~/bundles/ace_css_fileUpload")

    <style>
        textarea {
            resize: none;
        }
    </style>

}

@section Sliders {
    @{
        Html.RenderPartial("~/Views/Shared/_SlidersIncidente.cshtml");
    }
}