
@model GISModel.DTO.Envolvidos.VMTerceiro

@{
    ViewBag.Title = "Cadastro de Empregado Contratado";
}

<div id="formCadEmpregadoContratado">
    @using (Ajax.BeginForm("Cadastrar", "EmpregadoContratado", null,
        new AjaxOptions
        {
            HttpMethod = "POST",
            OnBegin = "OnBeginCadastrarEmpContratado",
            OnSuccess = "OnSuccessCadastrarEmpContratado",
        }, new { @id = "formEdicaoEmpregadoTerc", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKFornecedor, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKFornecedor, new SelectList(ViewBag.Fornecedores, "UniqueKey", "NomeFantasia"), "Selecione um fornecedor ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                        @Html.ValidationMessageFor(model => model.UKFornecedor, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.UKEmpregado)
                        @Html.HiddenFor(model => model.UKRel)
                        @Html.HiddenFor(model => model.UKIncidente)
                        @Html.HiddenFor(model => model.UKLesaoDoenca)
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.CPF, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.CPF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CPF, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="form-group">
                    @Html.LabelFor(model => model.Nascimento, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.Nascimento, new { htmlAttributes = new { @class = "date-picker form-control" } })
                        @Html.ValidationMessageFor(model => model.Nascimento, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.DescricaoLesao, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.DescricaoLesao, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.Funcao, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(model => model.Funcao, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKNaturezaLesaoPrincipal, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKNaturezaLesaoPrincipal, new SelectList(ViewBag.NaturezaLesao, "UniqueKey", "NomeCompleto"), "Selecione um tipo de atividade ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKLocalizacaoLesaoPrincipal, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKLocalizacaoLesaoPrincipal, new SelectList(ViewBag.LocalizacaoLesao, "UniqueKey", "NomeCompleto"), "Selecione um tipo de atividade ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKNaturezaLesaoSecundaria, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKNaturezaLesaoSecundaria, new SelectList(ViewBag.NaturezaLesao, "UniqueKey", "NomeCompleto"), "Selecione um tipo de atividade ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(model => model.UKLocalizacaoLesaoSecundaria, htmlAttributes: new { @class = "form-field-select-3 col-xs-12 col-sm-12 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.DropDownListFor(d => d.UKLocalizacaoLesaoSecundaria, new SelectList(ViewBag.LocalizacaoLesao, "UniqueKey", "NomeCompleto"), "Selecione um tipo de atividade ...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "off" })
                    </div>
                </div>
            </div>
        </div>

        
    }
</div>